<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Flow</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body class="h-screen w-screen overflow-x-hidden bg-[#0b0b0c] text-white flex flex-row p-6 gap-6">
    <section id="menu" role="menu"
        class="border-2 border-[#575656] rounded-xl hidden lg:w-[250px] lg:flex p-4 gap-4 flex-col">
        <div class="flex flex-col flex-1 gap-4">
            <span class="flex flex-row gap-2 justify-end">
                <img src="/media/close.svg" alt="Close" class="h-5 lg:hidden" id="closemenu">
            </span>
            <span class="flex flex-row gap-2" onclick="location.href='/page/home'"><img src="/media/dashboard.svg"
                    alt="Dashboard" class="h-6">
                <h1>DashBoard</h1>
            </span>
            <span class="flex flex-row gap-2 hover:cursor-pointer" onclick="location.href='/page/task'"><img
                    src="/media/task.svg" alt="Tasks" class="h-5">
                <h1>Tasks</h1>
            </span>
            <span class="flex flex-row justify-between hover:cursor-pointer">
                <span class="flex flex-row gap-2"><img src="/media/playground.svg" alt="Tasks" class="h-5">
                    <h1>StudyGround</h1>
                </span>
                <h1 class="p-1 bg-white text-black rounded-full text-xs">Beta</h1>
            </span>
            <span class="flex flex-row justify-between hover:cursor-pointer">
                    <span class="flex flex-row gap-2"><img src="/media/team.svg" alt="Tasks" class="h-5">
                    <h1>Team</h1>
                </span>
                <h1 class="p-1 bg-white text-black rounded-full text-xs">Beta</h1>
            </span>
            <span class="flex flex-row justify-between hover:cursor-pointer">
                <span class="flex flex-row gap-2"><img src="/media/Chat.svg" alt="Tasks" class="h-5">
                    <h1>Chat</h1>
                </span>
                <h1 class="p-1 bg-white text-black rounded-full text-xs">Beta</h1>
            </span>
        </div>
        <div class="flex flex-col gap-2">
            <span class="flex flex-row items-center gap-2"><img src="/media/setting.svg" alt="Setting" class="h-6">
                <h1>Setting</h1>
            </span>
            <span class="flex flex-row gap-2" onclick="location.href='/page/logout'"><img src="/media/logout.svg" alt="Logout" class="h-6">
                <h1>Logout</h1>
            </span>
        </div>
    </section>
    <section id="hero" class="flex-1 flex flex-col gap-4">
        <div class="flex flex-row justify-between">
            <span class="flex flex-row items-center gap-2">
                <img id="menubtn" src="/media/menu.svg" alt="Menu" class="h-8 lg:hidden">
                <h1 class="lg:text-xl">Study Flow</h1>
            </span>
            <span class="flex flex-row items-center gap-2">
                <img src="/media/user.svg" alt="User" class="h-8">
                <h1>
                    <%=user.displayname%>
                </h1>
            </span>
        </div>
        <div class="flex-1 flex flex-row gap-4">
            <section id="hero-main" class="flex-1 flex flex-col gap-4 h-[calc(100vh-90px)] overflow-y-auto">
                <div id="greetings" class="flex justify-between">
                    <span class="flex gap-2 flex-col lg:flex-row">
                        <h1 id="greeting-message">Good Morning</h1>
                        <h1>
                            <%=user.displayname%>
                        </h1>
                    </span>
                    <span>
                        <h1 id="date-preview"></h1>
                        <h1 id="time-preview"></h1>
                    </span>
                </div>
                <div class="grid grid-cols-3 lg:grid-cols-5 gap-4">
                    <span class="bg-[#242424] flex flex-col p-2 rounded-xl items-center col-span-2 lg:col-span-1">
                        <h1>Total Tasks</h1>
                        <h1>
                            <%=taskStatus['total']%>
                        </h1>
                    </span>
                    <span class="bg-[#242424] flex flex-col p-2 rounded-xl items-center">
                        <h1>Completed</h1>
                        <h1>
                            <%=taskStatus['complete']%>
                        </h1>
                    </span>
                    <span class="bg-[#242424] flex flex-col p-2 rounded-xl items-center">
                        <h1>Working</h1>
                        <h1>
                            <%=taskStatus['working']%>
                        </h1>
                    </span>
                    <span class="bg-[#242424] flex flex-col p-2 rounded-xl items-center">
                        <h1>Hold</h1>
                        <h1>
                            <%=taskStatus['holding']%>
                        </h1>
                    </span>
                    <span class="bg-[#242424] flex flex-col p-2 rounded-xl items-center">
                        <h1>Pending</h1>
                        <h1>
                            <%=taskStatus['pending']%>
                        </h1>
                    </span>
                </div>
                <div id="tasks-preview" class="flex flex-col gap-2">
                    <h1>My Tasks</h1>
                    <div class="flex p-4 flex-col gap-4">
                        <%if(tasks.length !=0){%>
                            <%tasks.forEach((task)=>{%>
                                <div id="<%=task['_id']%>"
                                    class="bg-[#242424] flex justify-between py-4 px-6 rounded-xl"
                                    onclick="location.href='/page/task/<%=task._id%>'">
                                    <h1>
                                        <%=task['title']%>
                                    </h1>
                                    <h1>
                                        <%=task['priority']%>
                                    </h1>
                                </div>
                                <%})%>
                                    <div class=" flex items-center justify-center">
                                        <button type="button" onclick="location.href='/page/task'"
                                            class="p-2 bg-white text-black">See More</button>
                                    </div>
                                    <%}else{%>
                                        <div class="bg-[#575656] flex justify-between py-4 px-6 rounded-xl">
                                            No Tasks
                                        </div>
                                        <%}%>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="/javascript/home.js"></script>
</body>

</html>