<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Flow-Task</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="h-screen w-screen overflow-x-hidden bg-[#0b0b0c] text-white flex flex-col p-6 gap-6" id="<%=taskData._id%>">
    <div class="flex flex-row justify-between items-center ">
        <span><h1>Preview</h1></span>
        <%if(taskData.status === 'pending' || taskData.status === 'hold'){%>
            <button class="p-2 bg-white text-black" id="startWorkingBtn" onclick="updateStatus('<%=taskData._id%>','working')">Start Working</button>
            <span class="flex flex-row gap-6 hidden" id="completeHoldBtn">
                <button class="p-2 bg-white text-black" onclick="updateStatus('<%=taskData._id%>','hold')">Hold</button>
                <button class="p-2 bg-white text-black" onclick="updateStatus('<%=taskData._id%>','complete')">Complete</button>
            </span>
        <%}else if(taskData.status === 'working'){%>
            <button class="p-2 bg-white text-black hidden" id="startWorkingBtn" onclick="updateStatus('<%=taskData._id%>','working')">Start Working</button>
            <span class="flex flex-row gap-6" id="completeHoldBtn">
                <button class="p-2 bg-white text-black" onclick="updateStatus('<%=taskData._id%>','hold')">Hold</button>
                <button class="p-2 bg-white text-black" onclick="updateStatus('<%=taskData._id%>','complete')">Complete</button>
        <%}else{%>

        <%}%>
    </div>
    <div class="w-full flex flex-col lg:flex-row gap-6">
        <div class="flex flex-col gap-2 w-full">
            <h1>Title</h1>
            <span class="bg-[#242424] w-full p-4 rounded-xl">
                <%=taskData.title%>
            </span>
        </div>
        <div class="flex flex-col gap-2 w-full">
            <h1>Description</h1>
            <span class="bg-[#242424] w-full p-4 rounded-xl">
                <%=taskData.description%>
            </span>
        </div>
    </div>
    <div class="w-full flex flex-col lg:flex-row gap-6">
        <div class="flex flex-col gap-2 w-full">
            <h1>Priority</h1>
            <span class="bg-[#242424] w-full p-4 rounded-xl">
                <%=taskData.priority%>
            </span>
        </div>
        <div class="flex flex-col gap-2 w-full">
            <h1>Effort</h1>
            <span class="bg-[#242424] w-full p-4 rounded-xl">
                <%=taskData.effort%>
            </span>
        </div>
        <div class="flex flex-col gap-2 w-full">
            <h1>status</h1>
            <span class="bg-[#242424] w-full p-4 rounded-xl" id="statusMessage">
                <%=taskData.status%>
            </span>
        </div>
    </div>
    <div class="flex flex-row gap-2 w-full">
        <button class="p-2 bg-white text-black" type="button" id="editTask">Edit</button>
        <button class="p-2 bg-white text-black" type="button" id="deleteNote">Delete</button>
    </div>
    <form id="taskForm"
        class="bg-[#575656] flex flex-col absolute -translate-y-1/2 top-[50%] left-[50%] -translate-x-1/2 p-4 rounded-xl gap-4 hidden">
        <h1 class="">Edit Task</h1>
        <label for="taskTitle">Title</label>
        <input type="text" name="title" id="taskTitle"
            class="outline-none border-1 border-[#ff6b00] caret-[#ff6b00] p-2">
        <label for="description">Description</label>
        <textarea name="description" rows="5" cols="30" id="description"
            class="h-auto resize-none outline-none border-1 caret-[#ff6b00] border-[#ff6b00] p-2"></textarea>
        <label for="priority">Task Priority</label>
        <select name="priority" id="priority" required="required" class="outline-none border-1 border-[#ff6b00] p-2">
            <option value="Low" selected>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <label for="effort">Effort</label>
        <select name="effort" id="effort" class="outline-none border-1 border-[#ff6b00] p-2 ">
            <option value="Low" selected>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <span class="flex flex-row justify-center gap-10">
            <button class="bg-white text-black p-2 " type="submit">Save</button>
            <button class="bg-white text-black p-2 " type="button" id="cancelCreation">Cancel</button>
        </span>
    </form>
    <script src="/javascript/taskpreview.js"></script>
</body>
</html>